@model WeatherViewModel

@{
    ViewData["Title"] = "Weather Page";
}

<div class="text-center">
    <h1>Weather at Home and Office</h1>
    <div>
        <h1>@Model.LocationName</h1>
        <img src="@Model.WeatherImageUri" width="500px"/>
    </div>
    <div>
        <form asp-action="Index">
            @(Html.DropDownList("Location"))
            <button type="submit">Change</button>
        </form> 
    </div>
</div>